.footer-outer-container {
  position: absolute;
  display: flex;
  width: 100%;
  margin: 0;
  background-color: #1956b96c;
  backdrop-filter: blur(5px);
  bottom: 0;
}

.footer-inner-container {
  display: flex;
  width: 100%;
  padding: 5px;
}

.left-side-footer {
  display: flex;
  width: 33.33%;
  /* border: solid 1px red; */
}

.footer-icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-icon {
  width: 50%;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.middle-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  /* border: solid 1px blue; */
}

.right-side-footer {
  display: flex;
  width: 33.33%;
  /* border: solid 1px green; */
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
}
