:root {
  --black: #222831;
  --dark-gray: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
}

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* border: solid 2px white; */
}

.header-section {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

/* .left-header::before {
  position: absolute;
  content: '';
  width: 400px;
  top: 40px;
  left: 20px;
  border-top: solid 10px var(--white);
} */

.left-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 15%;
  margin-left: 80px;
  margin-top: 15px;
  margin-right: 20px;
  /* border: solid 1px green; */
}

.home-logo {
  width: 100%;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  /* border: solid 1px red; */
}

.icon-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 25%;
}

.home-icon {
  width: 50px;
  height: 50px;
  margin: 2px;
}

.body-section {
  display: flex;
  width: 100%;
}

.left-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 200px;
  border-left: solid 2px var(--orange);
}

.right-body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-top {
  display: flex;
  margin-left: 10px;
}

.left-bottom {
  display: flex;
  margin-left: 10px;
}

.text-color {
  color: var(--white);
}

.left-top-text {
  font-weight: 100;
  font-size: 70px;
}

/* ---------- MOBILE SECTION ----------- */
@media only screen and (max-width: 600px) {
}
